<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <div class="clearfix">
      <div class="pull-left fsl">
        Request #<%= @rental.id %>
      </div>
      <div class="pull-right">
        <% if @rental.status == "pending" %>
          <%= link_to "Approve", edit_admin_rental_path, class: "btn btn-success bras" %> <%= link_to "Reject", reject_admin_rental_path, class: "btn btn-danger bras" %>
        <% elsif @rental.status == "approved" %>
          <%= link_to "Send Invoice", send_invoice_admin_rental_path(@rental), class: "btn btn-success bras" %> <%= link_to "Reject", reject_admin_rental_path, class: "btn btn-danger bras" %> <%= link_to "Edit", edit_admin_rental_path, class: "btn btn-primary bras" %>
        <% end %>
      </div>
    </div>
    <% if flash[:notice].present? %>
      <div class="mts">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="mts">
      <div class="fss">
        Status: <span class="<%= @rental.status == "rejected" ? "c-red" : "c-green" %>"><%= @rental.status %></span>
      </div>
    </div>
    <div class="mts">
      <% agreement = Agreement.where(duration_weeks: @rental.duration_weeks).last %>
      <% if agreement && agreement.pdf %>
        <% if @rental.pdf && @rental.pdf.attachment? %>
          <div class="fsl">
            Rental Agreement
          </div>
          <div>
            <%= link_to @rental.pdf.attachment_file_name, @rental.pdf.url, class: "c-accent", target: "_blank" %>
          </div>
        <% else %>
          <div>
            <%= link_to "Send #{@rental.duration_type_name} Agreement", send_agreement_admin_rental_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Upload #{@rental.duration_type_name} Agreement", edit_admin_agreement_path(agreement) %>
      <% end %>
    </div>
    <div class="mts">
      <div class="fsl">
        <%= @rental.production_company %>
      </div>
      <div>
        <%= @rental.production_name %>
      </div>
      <div>
        <%= @rental.start_date.strftime("%m/%d/%y") %> &mdash; <%= @rental.end_date.strftime("%m/%d/%y") %>
      </div>
    </div>
    <div class="mtm">
      <div class="fsl">
        Billing Information
      </div>
      <div>
        <%= @rental.billing_name %>
      </div>
      <div>
        <%= @rental.billing_address %> <%= @rental.billing_address_2 %>
      </div>
      <div>
        <%= @rental.billing_city %>, <%= @rental.billing_state %> <%= @rental.billing_zip_code %>
      </div>
      <div>
        <%= @rental.billing_country %>
      </div>
    </div>
    <div class="mtm">
      <div class="fsl">
        Designer Information
      </div>
      <div>
        <%= @rental.designer_name %>
      </div>
      <div>
        <%= @rental.designer_email %>
      </div>
      <div>
        <%= @rental.designer_phone_number %>
      </div>
    </div>
    <% if !@rental.filled_out_by_designer? %>
      <div class="mtm">
        <div class="fsl">
          Request By
        </div>
        <div>
          <%= @rental.your_name %>
        </div>
        <div>
          <%= @rental.your_email %>
        </div>
        <div>
          <%= @rental.your_phone_number %>
        </div>
      </div>
    <% end %>
    <div class="mtm">
      <div class="fsl">
        Products
      </div>
      <table class="row nmhxs full-width">
        <% @rental.items.includes(:product).each do |item| %>
          <tr>
            <td class="col-xs-3 phxs pvxs">
              <%= image_tag item.product.photo.url(:thumbnail), class: "img-responsive bras" %>
            </td>
            <td class="col-xs-6 phxs pvxs fsxs fwl">
              <%= item.product.name %>
            </td>
            <td class="col-xs-3 phxs pvxs">
              <%= number_to_currency item.price || item.suggested_price %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3" class="ptm">
          </td>
        </tr>
        <% if @rental.discount > 0 %>
          <tr class="bss bc-2">
            <td class="col-xs-3 phxs pvxs">
            </td>
            <td class="col-xs-6 phxs pvxs fsxs fwl">
              Discount
            </td>
            <td class="col-xs-3 phxs pvxs c-red">
              - <%= number_to_currency @rental.discount %>
            </td>
          </tr>
        <% end %>
        <% if @rental.tax > 0 %>
          <tr class="bss bc-2">
            <td class="col-xs-3 phxs pvxs">
            </td>
            <td class="col-xs-6 phxs pvxs fsxs fwl">
              Tax
            </td>
            <td class="col-xs-3 phxs pvxs c-green">
              + <%= number_to_currency @rental.tax %>
            </td>
          </tr>
        <% end %>
        <tr class="bss bwts bc-2">
          <td class="col-xs-3 phxs pvxs">
          </td>
          <td class="col-xs-6 phxs pvxs fsxs fwl">
            Total
          </td>
          <td class="col-xs-3 phxs pvxs">
            <%= number_to_currency @rental.total_with_additions %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
