<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <%= link_to new_admin_category_path do %>
      <table>
        <tr>
          <td>
            <div class="btn btn-primary pan dam bg-accent">
              <i class="fa fa-plus c-4 fsl lhm"></i>
            </div>
          </td>
          <td class="phxs c-1 fss">
            Add Category
          </td>
        </tr>
      </table>
    <% end %>
    <table class="mtm full-width">
      <tbody class="js-sortable" data-url=<%= reorder_admin_categories_url %>>
        <% @categories.each_with_index do |category, index| %>
          <tr id="<%= "sortable-#{category.id}" %>" class="pas<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
            <td class="phxxxs pvxs">
              <i class="fa fa-arrows"></i>
            </td>
            <td class="plxs prxxxs pvxs fwl full-width">
              <%= link_to category.name, admin_category_path(category) %>
            </td>
            <td class="phxxxs pvxs">
              <%= link_to edit_admin_category_path(category), class: "btn btn-primary" do %>
                <i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span>
              <% end %>
            </td>
            <td class="plxxxs prxs pvxs">
              <%= link_to admin_category_path(category), method: :delete, class: "btn btn-primary" do %>
                <i class="fa fa-times"></i> <span class="hidden-xs">Delete</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
