<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <table class="full-width">
      <tr>
        <td class="fsxl">
          Category: <%= @category.name %>
        </td>
        <td class="text-right">
          <%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
    <div class="mtxs fss">
      Tags
    </div>
    <table>
      <tbody class="js-sortable" data-url=<%= reorder_admin_tags_url %>>
        <% @category.tags.order(:display_index).each_with_index do |tag, index| %>
          <tr id="<%= "sortable-#{tag.id}" %>" class="<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
            <td class="paxs">
              <i class="fa fa-arrows"></i>
            </td>
            <td class="paxs fss">
              <%= tag.name %>
            </td>
            <td class="paxs">
              <%= link_to "remove", admin_tag_path(tag), class: "btn btn-primary", method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
