<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <%= link_to new_admin_product_path do %>
      <table>
        <tr>
          <td>
            <div class="btn btn-primary pan dam bg-accent">
              <i class="fa fa-plus c-4 fsl lhm"></i>
            </div>
          </td>
          <td class="plxs c-1 fss">
            Add Product
          </td>
        </tr>
      </table>
    <% end %>
    <div class="fsl mtl">
      Inactive Products
    </div>
    <table class="row nmhxs mtm full-width">
      <tbody class="js-sortable" data-url=<%= reorder_admin_products_url(page: params[:page], per_page: params[:per_page]) %>>
        <% @products.each_with_index do |product, index| %>
          <tr id="<%= "sortable-#{product.id}" %>" class="<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
            <td class="paxs">
              <i class="fa fa-arrows"></i>
            </td>
            <td class="col-xs-2 plxs pvxs">
              <%= image_tag product.photo.url(:thumbnail), class: "img-responsive" %>
            </td>
            <td class="plxxxs prxxxs pvxs fwl">
              <%= link_to product.name, admin_product_path(product), class: "c-accent-hover" %>
            </td>
            <td class="phxxxs pvxs">
              <div class="pull-right">
                <%= link_to edit_admin_product_path(product), class: "btn btn-primary" do %>
                  <i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mtxs text-center">
      <%= will_paginate(@products) %>
    </div>
  </div>
</div>
