<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <%= link_to new_admin_product_path do %>
      <table>
        <tr>
          <td>
            <div class="btn btn-primary pan dam bg-accent">
              <i class="fa fa-plus c-4 fsl lhm"></i>
            </div>
          </td>
          <td class="plxs c-1 fss">
            Add Product
          </td>
        </tr>
      </table>
    <% end %>
    <%= form_tag admin_products_path, method: :get do %>
      <div class="row nmhxs">
        <div class="col-sm-9 phxs mtxs">
          <%= text_field_tag :query, params[:query], class: "phxs dvm lhs bss bwas bc-2 full-width", placeholder: "Product name" %>
        </div>
        <div class="col-sm-3 phxs mtxs">
          <%= submit_tag "search", class: "phxs dvm lhs bg-accent c-4 full-width" %>
        </div>
      </div>
    <% end %>
    <div class="mtm js-admin-infinite-scroll<%= " js-sortable" unless params[:query].present? %>" data-url=<%= reorder_admin_products_url(page: params[:page], per_page: params[:per_page]) %>>
      <% @products.each_with_index do |product, index| %>
        <div id="<%= "sortable-#{product.id}" %>" class="mtxxxs-plus ptxxxs-plus bss bwts-plus bc-2 js-admin-product">
          <div class="row nmhxs">
            <% unless params[:query].present? %>
              <div class="col-sm-1 phxs">
                <i class="fa fa-arrows"></i>
              </div>
            <% end %>
            <div class="col-sm-1 phxs js-sortable-index">
              <%= product.display_index %>
            </div>
            <div class="col-sm-2 phxs">
              <%= image_tag product.photo.url(:thumbnail), class: "img-responsive" %>
            </div>
            <div class="col-sm-6 phxs fwl">
              <%= link_to product.name, admin_product_path(product), class: "c-accent-hover" %>
            </div>
            <div class="col-sm-2 phxs">
              <div>
                <%= link_to edit_admin_product_path(product), class: "btn btn-primary full-width" do %>
                  <i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span>
                <% end %>
              </div>
              <div class="mtxxxs">
                <%= link_to admin_product_path(product), class: "btn btn-primary full-width js-admin-product-remove", method: :delete, remote: true, data: { type: "json" } do %>
                  <i class="fa fa-times"></i> <span class="hidden-xs">Remove</span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mtxs text-center">
      <%= will_paginate(@products) %>
    </div>
  </div>
</div>
