<div class="row nmhxs">
  <div class="col-lg-8 phxs">
    <table class="full-width">
      <tr>
        <td class="fsxl">
          <%= @product.name %>
        </td>
        <td class="text-right">
          <%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
    <div class="row nmhxs">
      <div class="col-sm-6 phxs mtm">
        <%= image_tag @product.photo.url(:medium), class: "img-responsive bss bwam bc-12" %>
      </div>
      <div class="col-sm-6 phxs mtm">
        <div class="">
          <%= @product.cost_in_cents %>
        </div>
        <div class="">
          <%= @product.dimensions.presence %>
        </div>
        <% if @product.tags.any? %>
          <div class="">
            Tags
          </div>
          <% @product.tags.each do |tag| %>
            <div class="">
              <%= tag.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
