<%= content_for :navigation do %>
  <div class="c-accent fsxs text-center">
    <%= link_to "/cart" do %>
      <table class="mha">
        <tr>
          <td>
            View Your Cart
          </td>
          <td class="plxs">
            (<span class="js-cart-items-count"><%= current_cart.items.count %></span>)
          </td>
          <td class="plxs">
            <i class="fa fa-shopping-cart fsm"></i>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <% if @categories.any? %>
    <hr class="bss bwtm bc-3"/>
    <div class="c-2 fsxs">
      Filter By:
    </div>
    <% @categories.each do |category| %>
      <div class="ptxs mtxs-plus fsxxs bss bwtm-plus bc-3">
        <div class="fwl">
          <%= category.name %>
        </div>
        <% category.tags.order(:display_index).each do |tag| %>
          <div id="tag-<%= tag.id %>" class="mtxxxs pointer no-select js-category-tag<%= " active" if @tag_ids.present? && @tag_ids.include?(tag.id.to_s) %>" data-id="<%= tag.id %>" data-category-id="<%= category.id %>">
            <table>
              <tr>
                <td>
                  <div class="daxxs bg-3 bg-accent-active braxxs"></div>
                </td>
                <td class="plxxxs">
                  <%= tag.name %>
                </td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<% content_for :content do %>
  <div class="row nmhs relative js-masonry js-infinite-scroll">
    <% @products.each do |product| %>
      <div id="product-<%= product.id %>" class="col-sm-6 col-md-4 col-lg-3 phs mtm fade-a <%= " active" if current_cart.has_product?(product) %> js-masonry-item js-product-display" data-id="<%= product.id %>" data-active="<%= current_cart.has_product?(product) %>" data-in-cart="<%= current_cart.has_product?(product) %>">
        <div class="product-display bram no-overflow no-select">
          <%= link_to product.photo.url(:original), class: "js-lightbox" do %>
            <%= image_tag product.photo.url(:medium), class: "img-responsive" %>
          <% end %>
          <div class="paxs bg-4 bss bwts bc-3">
            <div class="c-1 fwl">
              <%= product.name %>
            </div>
            <div class="c-1">
              <%= product.dimensions %>
            </div>
            <div class="nmlxxxs clearfix">
              <% product.tags.each do |tag| %>
                <div class="paxxxs mlxxxs mtxxxs bg-2 c-4 fsxxxs braxs pull-left pointer js-product-tag" data-id="<%= tag.id %>">
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="paxs bg-4 bg-accent-active c-accent c-4-active text-center bss bwts bc-3 bc-accent-active pointer js-toggle js-cart-item-add" data-toggle-target="#product-<%= product.id %>" data-toggle-class="active">
            <div class="hide-active js-product-display-text">
              <i class="fa fa-shopping-cart"></i> Add to Cart
            </div>
            <div class="show-active js-product-display-text">
              <i class="fa fa-shopping-cart"></i> Remove from Cart
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= will_paginate @products %>
  </div>
<% end %>
