<div class="row nmhxs js-masonry">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3 phxs mtm js-masonry-item">
      <div id="product-<%= product.id %>" class="js-product-display <%= "active" if current_cart.has_product?(product) %>" data-id="<%= product.id %>" data-active="<%= current_cart.has_product?(product) %>">
        <div class="product-display bram no-overflow no-select">
          <%= link_to product.photo.url(:medium), class: "js-lightbox" do %>
            <%= image_tag product.photo.url(:medium), class: "img-responsive" %>
          <% end %>
          <div class="paxs bg-4 bss bwts bc-3">
            <div class="c-1 fwl">
              <%= product.name %>
            </div>
            <div class="nmlxs clearfix">
              <% product.tags.each do |tag| %>
                <div class="mlxs pull-left">
                  <%= tag.name %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="paxs bg-4 bg-accent-active c-accent c-4-active text-center bss bwts bc-3 bc-accent-active pointer js-toggle js-cart-item-add" data-toggle-target="#product-<%= product.id %>" data-toggle-class="active">
            <div class="hide-active js-product-display-text">
              <i class="fa fa-shopping-cart"></i> Add to Cart
            </div>
            <div class="show-active js-product-display-text">
              <i class="fa fa-shopping-cart"></i> Remove from Cart
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
