<!DOCTYPE html>
<html>
<head>
  <title>Hkstudio</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="hidden-xs">
    <div class="dvxxs bg-accent"></div>
    <div class="bg-1">
      <div class="container phs text-center">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "img-responsive mha" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="mobile-navigation" class="fixed top left dvl lhl bg-1 full-width visible-xs">
    <div class="row nmhxs">
      <div class="col-xs-2 phxs">
        <div class="mtxxxs mlxxxs dam lhs c-3 c-4-hover braxs bss bwas bc-3 bc-4-hover text-center pointer js-navigation-toggle">
          <i class="fa fa-bars fsl lhm"></i>
        </div>
      </div>
      <div class="col-xs-8 phxs">
        <div class="c-4 fsl lhl text-center">
          <%= link_to "HK STUDIO", root_path %>
        </div>
      </div>
      <div class="col-xs-2 phxs">
        <%= link_to cart_path do %>
          <div class="mtxxxs mrxxxs dam lhs c-3 c-4-hover braxs bss bwas bc-3 bc-4-hover text-center pull-right pointer">
            <i class="fa fa-shopping-cart fsl lhm"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="dvl visible-xs"></div>
    <div class="row pbxxxxl mhn">
      <div id="navigation" class="navigation col-sm-4 col-md-3 col-lg-2 phn">
        <div class="js-scroll-with-screen" data-fix-limit-px="768">
          <div class="navigation-inner pal bg-4 brrm scroll-y">
            <div class="c-accent fsxs text-center">
              <%= link_to "About", about_path, class: "c-accent" %> - <%= link_to "Terms", terms_path %> - <%= link_to "Contact", contact_path %>
            </div>
            <div class="mtm">
              <%= content_for :navigation %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-10 phn">
        <div class="phl">
          <%= content_for :content %>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
