<!DOCTYPE html>
<html>
<head>
  <title>Hkstudio</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="dvxxs bg-accent"></div>
  <div class="pvs bg-1">
    <div class="container phs">
      <div class="fsxxl c-4 text-center">
        <%= link_to "HK STUDIO", root_path %>
      </div>
      <table class="mha mtxs c-3 fsxxs lsm">
        <tr>
          <td class="phs">
            ABOUT
          </td>
          <td class="phs">
            TERMS
          </td>
          <td class="phs">
            CONTACT
          </td>
        </tr>
      </table>
    </div>
  </div>
  <%= yield %>
</body>
</html>
